.body {
    max-width: 58rem !important;
    height: auto;
    margin: 0 auto;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.body h3 {
    font-size: 1.3rem;
}
.h3t{
    color:#fff;
    text-decoration: none;
}
.h3t:hover{
    color:#fff;
    text-decoration: none;
}
.h3a{
    color:#1F4690;
    text-decoration: none;
}
.h3a:hover{
    color:#1F4690;
    text-decoration: none;
}
.h3b{
    color:black;
    text-decoration: none;
}
.h3b:hover{
    color:black;
    text-decoration: none;
}

.body p {
    font-size: 1.2rem;
    max-width: 58rem !important;
}

.body img {
    max-width: 100%;
    height: auto;
}

.inicio {
    width: 100%;
    height: auto;
    background: #1F4690;
    margin: 2rem 0 auto;
    display: block;
    align-items: center;
    border-top-right-radius: 0.6rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.logo {
    width: 100%;
    height: auto;

}

.inicio-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #1F4690;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.status {
    text-align: center;
    margin: 0 auto;
    max-width: 27.5rem !important;
}

.chamado {
    display: block;
    align-items: left;
    background: #36AE7C;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.chamado-content {
    display: block;
    align-items: left;
    background: #fff;
    color: black;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 10px #0000004d;
    max-width: 58rem !important;
}

.online {
    display: block;
    align-items: center;
    background: #1F4690;
    text-align: center;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.online a {
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 1.15rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.solu_data {
    display: block;
    align-items: left;
    background: #1F4690;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.solu_descricao {
    display: block;
    align-items: left;
    background: #fff;
    color: black;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.aprovar {
    display: block;
    align-items: center;
    background: #1F4690;
    text-align: center;
    height: auto;
    padding: 1.5rem 0;
}

.btn-a {
    text-decoration: none !important;
    color: #fff !important;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    background: #2B4865;
    border: 0.3rem solid #2B4865;
    padding: 1.2rem;
    box-shadow: 3px 3px 10px #0000004d;
    display: block;
    transition: all 300ms ease-in-out;
}

.btn-a:hover{
    text-decoration: none !important;
    border: 0.3rem solid #2B4865;
    background: #fff;
    color: #2B4865 !important;
}

.btn-pers {
    margin-top: 1.5rem;
    background: #1F4690;
    border: 0.3rem solid #1F4690;
}

.btn-pers:hover{
    border: 0.3rem solid #1F4690;
    color:#1F4690 !important;
}

.ult_rejeicao {
    display: block;
    align-items: left;
    background: #EB4747;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.desc_rejeicao {
    display: block;
    align-items: left;
    background: #fff;
    color: black;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.documentos {
    display: block;
    align-items: left;
    background: #F77E21;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.acompanhar {
    display: block;
    align-items: left;
    background: #E0E0E0;
    color: black;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.acom_descricao {
    display: block;
    align-items: left;
    background: #fff;
    color: black;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.tarefas {
    display: block;
    align-items: left;
    background: #E8AA42;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.desc_tarefa {
    display: block;
    align-items: left;
    background: #fff;
    color: black;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.rodape {
    display: block;
    align-items: center;
    background: #fff;
    color: #fff;
    padding: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    box-shadow: 3px 3px 10px #0000004d;
}

.rodape img {
    width: 25%;
}

.creditos {
    display: block;
    align-items: center;
    background: #1F4690;
    color: #fff;
    padding: 0.05rem;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom-left-radius: 0.6rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.creditos p {
    font-size: 1rem;
}

.acompanhar_last {
    display: block;
    align-items: left;
    background: #73777B;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
}

.tag_pendente {
    background: #DF7861;
    color: #fff;
}
.historico{
    display: block;
    align-items: center;
    background: #E0E0E0;
    color: black;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    box-shadow: 3px 3px 10px #0000004d;
    text-align: center;
}